<div class="page-container">
    <div class="left-side">
        <form class="form-container">
            <h1 class="left-side-header">{{ dataService.leftHeader }}</h1>
            <h6 class="left-side-text-h6">{{ dataService.leftTextH6 }}</h6>
            <div class="input-box">
                <input type="email" class="input" name="email" [(ngModel)]="email" required>
                <label class="input-label">{{dataService.email}}</label>
            </div>
            <div class="input-box">
                <img [src]="eyeIconPath" alt="Toggle Password Visibility" (click)="togglePasswordVisibility()"
                    class="eye-icon">
                <input type="{{ hidePassword ? 'password' : 'text' }}" class="input" name="password" maxlength="16"
                    [(ngModel)]="password" (input)="checkPasswordStrength()" required>
                <label class="input-label password">{{dataService.password}}</label>
                <div class="password-strength-meter">
                    <div class="dot" [ngClass]="{ 'weak': passwordStrength >= 1 }"></div>
                    <div class="dot" [ngClass]="{ 'medium': passwordStrength >= 2 }"></div>
                    <div class="dot" [ngClass]="{ 'strong': passwordStrength >= 3 }"></div>
                    <div class="dot" [ngClass]="{ 'very-strong': passwordStrength === 4 }"></div>
                </div>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" class="checkbox" [(ngModel)]="rememberMe" name="rememberMe>">
                <h5 class="checkbox-h5">{{dataService.rememberMeText}}</h5>
            </div>
            <button class="sign-up-btn" type="submit">{{dataService.signUp}}</button>
            <div class="footer">
                <span class="acme-footer">{{dataService.acmeFooter}}</span>
                <span class="Terms-and-privacy">{{dataService.terms}}</span>
                <span class="Terms-and-privacy">{{dataService.privacy}}</span>
                <span class="Terms-dots">...</span>
            </div>
        </form>
    </div>
    <div class="right-side">
        <img class="right-side-img-background" src="./assets/image_background.jpg">
        <div class="text-box">
            <img class="acme-img" src="./assets/acme/acme@3x.png" alt="">
            <h2 class="right-side-text-h2">{{ dataService.rightTextH2 }}</h2>
            <h4 class="right-side-text-h4">{{ dataService.rightTextH4 }}</h4>
            <button class="login-btn" type="submit" (click)="signIn()">{{dataService.login}}</button>
        </div>
    </div>
</div>